.u-margin-top-xlarge{
    margin-top:12vw;
}

.u-padding-top-medium{
    padding-top:4vw;
}

.u-padding-top-small{
    padding-top:2vw;
}

.u-padding-bottom-small{
    padding-bottom:2vw;
}

.u-padding-bottom-medium{
    padding-bottom:4vw;
}