.banner {
    grid-template-columns: 1fr 60rem minmax(min-content, 60rem) 1fr;
    padding-bottom: 15vh;
    background-image: linear-gradient(to right bottom,
        rgba(255, 255, 255, .8),
        rgba(255, 255, 255, .8)),
        url('../assets/banner.jpg');

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    &__content {
        display: grid;
        grid-column: 2;
        align-content: end;
        grid-row-gap: 1rem;
        justify-items: right;

        @media only screen and (max-width: 600px) {
            grid-column: 1;
        }
    }

    &__text {
        text-align: right;
        margin-bottom: 5rem;
    }
}